# Clé NASA FIRMS : https://firms.modaps.eosdis.nasa.gov/api/
NASA_FIRMS_KEY=your_nasa_firms_api_key_here

# Open Meteo API (optionnel si non payant)
# OPEN_METEO_API_KEY=

# Supabase PostGIS Database Connection URI
SUPABASE_DB_URI=postgresql://<user>:<password>@<host>:<port>/postgres
